In [28]:
import mysql.connector as connector
from mysql.connector.pooling import MySQLConnectionPool
connection=connector.connect(user='root',password='13588757924Leti',db='little_lemondb')

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",
                           pool_size = 3,
                           user='root',
                            password='13588757924Leti',
                            db='little_lemondb')
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 3

In [29]:
connection1 = pool.get_connection()
print("connected")

connected

In [30]:
cursor=connection.cursor()

In [31]:
cursor.execute("show tables")

In [32]:
for tables in cursor:
    print (tables)

('address',)
('booking',)
('city',)
('country',)
('course',)
('cuisine',)
('delivery',)
('desert',)
('drinks',)
('employee',)
('guest',)
('littlelemon_data',)
('menu',)
('menuitem',)
('order_view',)
('orders',)
('sides',)
('starter',)
('table_',)

In [34]:
orderdetail="""select O.OrderID,O.Orderdate,G.Guest_Name from orders as o left join guest as g on O.GuestID=G.GuestID where cost>60 order by cost asc"""
cursor.execute(orderdetail)
results=cursor.fetchall()
cols=cursor.column_names
print(cols)
for data in results:
    print(data)

connection.close()
print('connection is closed')

('OrderID', 'Orderdate', 'Guest_Name')
connection is closed